<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2016 Your Company | Design: <a href="http://www.templatemo.com" target="_parent">templatemo</a></p>
            </div>
        </div>
    </div>
</footer>