<!--Footer-->
        <footer class="2xl:mt-40 lg:mt-24 mt-12">
            <div
                class="bg-white lg:pt-[100px] pt-[50px] 2xl:pb-[30px] lg:mt-[60px] lg:mb-[20px] mt-[50px] mb-6"
            >
                <div class="container mx-auto">
                    <div class="grid grid-cols-12 mb-12">
                        <div class="col-span-12 lg:col-span-6">
                            <img
                                src="../assets/icon/logo.svg"
                                alt=""
                                class="bg-[#4f75ff]"
                            />
                            <div class="flex 2xl:mt-10 mt-7">
                                <img src="../assets/icon/mail.svg" alt="" />
                                <p class="text-lg text-[#262626] ml-1">
                                    web@gmail.com
                                </p>
                            </div>
                            <div class="flex lg:mt-5 mt-3">
                                <img src="../assets/icon/phone.svg" alt="" />
                                <p class="text-lg text-[#262626] ml-1">
                                    +84 123456789
                                </p>
                            </div>
                            <div class="flex lg:mt-5 mt-3">
                                <img src="../assets/icon/location.svg" alt="" />
                                <p class="text-lg text-[#262626] ml-1">
                                    Ho Chi Minh City, Viet Nam
                                </p>
                            </div>
                        </div>
                        <div
                            class="lg:col-span-2 col-span-6 text-[#59595A] 2xl:text-lg lg:text-base text-sm lg:mt-0 mt-6"
                        >
                            <a
                                href="/"
                                class="2xl:text-xl lg:text-lg text-base text-[#262626] block font-semibold"
                                >Home</a
                            >
                            <a href="" class="lg:mt-[14px] mt-[10px] block"
                                >Benefits</a
                            >
                            <a
                                href="/courses"
                                class="lg:mt-2 mt-1 block"
                                >Our Courses</a
                            >
                            <a href="" class="lg:mt-2 mt-1 block"
                                >Our Testimonials</a
                            >
                            <a href="" class="lg:mt-2 mt-1 block">Our FAQ</a>
                        </div>
                        <div
                            class="lg:col-span-2 col-span-6 text-[#59595A] 2xl:text-lg lg:text-base text-sm lg:mt-0 mt-6"
                        >
                            <a
                                href="../AboutUs/AboutUs.html"
                                class="2xl:text-xl lg:text-lg text-base text-[#262626] block font-semibold"
                                >About us</a
                            >
                            <a href="" class="lg:mt-[14px] mt-[10px] block"
                                >Company</a
                            >
                            <a href="" class="lg:mt-2 mt-1 block"
                                >Achievements</a
                            >
                            <a href="" class="lg:mt-2 mt-1 block">Our Goals</a>
                        </div>
                        <div class="lg:col-span-2 col-span-12 lg:mt-0 mt-6">
                            <p
                                class="2xl:text-xl lg:text-lg text-base text-[#262626] block font-semibold"
                            >
                                Social Profiles
                            </p>
                            <div
                                class="flex lg:mt-[14px] mt-[10px] gap-[14px] items-center"
                            >
                                <a
                                    href=""
                                    class="border-solid border-[1px] border-[#F1F1F3] bg-[#f7f7f8] lg:rounded-lg rounded-md lg:p-[14px] p-3"
                                >
                                    <img
                                        src="../assets/icon/facebook.svg"
                                        alt=""
                                    />
                                </a>
                                <a
                                    href=""
                                    class="border-solid border-[1px] border-[#F1F1F3] bg-[#f7f7f8] lg:rounded-lg rounded-md lg:p-[14px] p-3"
                                >
                                    <img
                                        src="../assets/icon/twitter.svg"
                                        alt=""
                                    />
                                </a>
                                <a
                                    href=""
                                    class="border-solid border-[1px] border-[#F1F1F3] bg-[#f7f7f8] lg:rounded-lg rounded-md lg:p-[14px] p-3"
                                >
                                    <img
                                        src="../assets/icon/linkedin.svg"
                                        alt=""
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="mt-6 lg:mt-12 text-center">
                        <p class="text-[#656567] lg:text-lg text-sm">
                            © 2023 Skillbridge. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!--End Footer-->