MONGODB_URI=

SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

EMAIL=
PASS_EMAIL=

BASE_URL=

vnp_TmnCode=
vnp_HashSecret=
vnp_Url=
vnp_apiUrl=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=

ALGOLIA_APP_ID=
ALGOLIA_API_KEY=

SUPABASE_URL=
SUPABASE_KEY=