<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="../public/stylesheets/output.css" rel="stylesheet">
    <base href="/">
  </head>

  <body>
    {{>header}}
    {{{body}}}
    {{>footer}}
  </body>
</html>
