<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="../public/stylesheets/output.css" rel="stylesheet">
  </head>
  <body class="bg-blue-500 text-white p-4">
    {{{body}}}
  </body>
</html>
